<!DOCTYPE html>
<html>
    <head>
       {{>headerlink}}
    </head>
    <body>
    {{>navbar}}
<div class="container-fluid main_header">
          <div class="row">
          <div class="col-md-10 col-12 mx-auto">
          <div class="row">
          <div class="col-md-12  col-12 main_header_left align_items_center">
            <figure class="errimg" style="align:middle ;margin:50px 0px">
            <img src="images/404error.jfif" class="img-fluid" title="shivani awasthi" >
            </figure>
             <p>THANKS FOR VISITING<p>
             <h1>{{errorMessage}}</h1>
             <a href="/"><button>GO BACK</button></a>
             </div>
           
</div>
    </div>
</div></div>
{{>footer}}
    </body>
</html>