<!DOCTYPE html>
<html>
    <head>
       {{>headerlink}}
    </head>
    <body>
    {{>navbar}}
<div class="container-fluid main_header">
          <div class="row">
          <div class="col-md-10 col-12 mx-auto">
          <div class="row">
          <div class="col-md-6 col-12 main_header_right align_items_center">
            <figure>
            <img src="images/about.png" class="img-fluid" title="shivani awasthi">
            </figure>
            </div>
             <div class="col-md-6 col-12 main_header_left">
             <p>WELCOME TO MY PAGE,<p>
             <h1 class="about_text">Hey,I'm Shivani Awasthi <span class="txt_clr">Full Stack Developer</span>,I do Web Design,Web Development,build mobile apps and Competitive programming</h1>
             <a href="/"><button>ABOUT ME</button></a>
             </div>
           
</div>
    </div>
</div></div>
{{>footer}}
    </body>
</html>